############################
# Additional PATH settings #
############################
export PATH=/opt/homebrew/bin:/Users/reuben.devries/.pyenv/shims/:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH


############################
# Specify default editor   #
############################
export EDITOR=vim

############################
# Functions                #
############################

# File search functions
function f() { find . -iname "*$1*" ${@:2} }
function r() { grep "$1" ${@:2} -R . }

# Create a folder and move into it in one command
function mkcd() { mkdir -p "$@" && cd "$_"; }

# Example aliases
alias cppcompile='c++ -std=c++11 -stdlib=libc++'
alias g='git'

############################
# pyenv Settings           #
############################

export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"


###########################

export ${ZDOTDIR:-$HOME}

setopt EXTENDED_GLOB
for rcfile in "${ZDOTDIR:-$HOME}"/.zprezto/runcoms/^README.md(.N); do
    ln -s "$rcfile" "${ZDOTDIR:-$HOME}/.${rcfile:t}"
  done

