### Add ssh keys
eval $(ssh-agent -s)
ssh-add "{{ ansible_facts['home_dir'] }}"/.ssh/id_ed25519

### configure zsh shell

export PATH=$"{{ ansible_facts['ansible_env']['PATH'] }}:{{ ansible_facts['user_dir'] }}/.local/bin/"

# Keep 1000 lines of history within the shell and save it to ~/.zsh_history:
HISTSIZE=1000
SAVEHIST=1000
HISTFILE="{{ ansible_facts['home_dir'] }}/.zsh_history"

### zsh addons
source "{{ ansible_facts['user_dir] }}"/powerlevel10k/powerlevel10k.zsh-theme

# To customize prompt, run `p10k configure` or edit "{{ ansible_facts['home_dir'] }}/.p10k.zsh"
[[ ! -f "{{ ansible_facts['home_dir'] }}"/.p10k.zsh ]] || source "{{ ansible_facts['home_dir'] }}/.p10k.zsh"