### Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
### Initialization code that may require console input (password prompts, [y/n]
### confirmations, etc.) must go above this block; everything else may go below.

if [[ -r "${XDG_CACHE_HOME:{{ ansible_facts['user_dir'] }}/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-{{ ansible_facts['user_dir'] }}/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

### Configure GPG

export GPG_TTY=$(tty)

### Add ssh keys

#eval $(ssh-agent -s)
#ssh-add "/path/to/key/here"

### ansible_vault settings

#export ANSIBLE_VAULT_PASSWORD_FILE="/path/to/vaulfile/here"

setopt histignorealldups sharehistory

### Use emacs keybindings even if our EDITOR is set to vi
bindkey -e

### Keep 1000 lines of history within the shell
export HISTSIZE=1000
export SAVEHIST=1000
export HISTFILE="{{ ansible_facts['user_dir'] }}/.zsh_history"

### Use modern completion system
autoload -Uz compinit
compinit

zstyle ':completion:*' auto-description 'specify: %d'
zstyle ':completion:*' completer _expand _complete _correct _approximate
zstyle ':completion:*' format 'Completing %d'
zstyle ':completion:*' group-name ''
zstyle ':completion:*' menu select=2
zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' list-colors ''
zstyle ':completion:*' list-prompt %SAt %p: Hit TAB for more, or the character to insert%s
zstyle ':completion:*' matcher-list '' 'm:{a-z}={A-Z}' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=* l:|=*'
zstyle ':completion:*' menu select=long
zstyle ':completion:*' select-prompt %SScrolling active: current selection at %p%s
zstyle ':completion:*' use-compctl false
zstyle ':completion:*' verbose true
zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;31'
zstyle ':completion:*:kill:*' command 'ps -u "{{ ansible_facts['user_id'] }}" -o pid,%cpu,tty,cputime,cmd'

### setup $PATH

export PATH="{{ ansible_facts['user_dir'] }}/.local/bin:$PATH"

### zsh addons
source "{{ ansible_facts['user_dir'] }}/.zsh/powerlevel10k/powerlevel10k.zsh-theme"
source "{{ ansible_facts['user_dir'] }}/.zsh/zsh-autopair/autopair.zsh"
source "{{ ansible_facts['user_dir'] }}/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh"
source "{{ ansible_facts['user_dir'] }}/.zsh/zsh-history-substring-search/zsh-history-substring-search.zsh"
source "{{ ansible_facts['user_dir'] }}/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

### define fpath
fpath=("{{ ansible_facts['user_dir'] }}/.zsh/zsh-completions/src" $fpath)

### To customize prompt, run `p10k configure` or edit ~/.p10k.zsh
[[ ! -f "{{ ansible_facts['user_dir'] }}/.p10k.zsh" ]] || source "{{ ansible_facts['user_dir'] }}/.p10k.zsh"
